#home_contactus{
    background:#ededed;

    label{display:block;margin-bottom: 8px;}
    .rating{
      //  height: 46px !important;
     //   border-radius: 4px;
      //  width: 100% !important;
      //  background:#fff;
      //  display: block;
      color:#ffc107;
      font-size: 25px;;
    }
  
    textarea,input{
        border:0px;
    }
    
}