.widget{
    color:#454545;
    font-size:16px;
    line-height: 24px;

    h2.widget-title{
        font-size:20px;
        line-height: 24px;
        color:#195d8f;
    }
    ul{
        padding:0;
        li{
            list-style: none;
            color:#454545;
            font-size:16px;
            line-height: 24px;
            a{
                color:#454545;
                font-size:16px;
                line-height: 24px;
            }
        }
    }
}