#page_top .inner .right {
    // right:10%;
}
#page_top .inner .right img{
   //  max-height: 300px;
   width: auto;
   max-height: 430px;
   margin: auto;
   display: block;
}


@media (max-width: 767px) {
    
}